{{#tab-layout as |tab|}}
	{{#tab.page label='Page 1'}}
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum molestie euismod. Nullam semper scelerisque lectus
	sit amet facilisis. Integer sed ante a odio imperdiet scelerisque. Suspendisse sapien ante, ultrices at rutrum et, tristique
	quis quam. Donec vitae justo maximus, auctor dolor at, aliquet justo. Duis et augue finibus urna ullamcorper faucibus at
	sed mi. Fusce mattis ipsum ac augue hendrerit auctor. Pellentesque a varius massa, in tempor urna. Nulla ipsum quam, accumsan
	vel orci dictum, ullamcorper dictum sapien. Suspendisse suscipit orci in hendrerit feugiat. Nunc at metus fermentum, dictum
	risus eget, malesuada sem.</p>
	{{/tab.page}}

	{{#tab.page label='Page 2'}}
	<p>Donec finibus luctus quam, a posuere quam laoreet ut. Nam dignissim velit malesuada neque cursus euismod. Suspendisse dictum
	felis eu metus vestibulum, eu pellentesque enim ornare. Integer dolor ipsum, consequat at ex vel, tincidunt efficitur urna.
	Donec at nisl vehicula, efficitur lectus in, malesuada nunc. Sed et feugiat velit, eu vulputate ipsum. Etiam sollicitudin
	nunc sit amet felis iaculis, id auctor odio tempus. Cras accumsan dui lorem, at consectetur felis consequat vel. Aliquam
	sollicitudin massa ac cursus maximus. Proin ante tortor, commodo eget neque et, facilisis ullamcorper felis.</p>
	{{/tab.page}}
{{/tab-layout}}