.layout {

	&-container {
		position: relative;
	}

	&-fill {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&-split {

		&-splitter {
			position: absolute;
			background-color: #AAA;
			z-index: 5;

			.grabber {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				// background-color: red;
			}

			&-h {
				height: 1px;
				width: 100%;

				&.layout-split-hgrabber .grabber {
					margin-top: -10px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			&-v {
				top: 0;
				width: 1px;
				height: 100%;

				&.layout-split-vgrabber .grabber {
					margin-left: -10px;
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}

		&-hgrabber {
			cursor: ns-resize;
		}

		&-vgrabber {
			cursor: ew-resize;
		}
	}



	// &-page-container,
	// &-tab-container {

	// }

	&-pages.layout-fill,
	&-tab.layout-fill &-tab-container {
		overflow: hidden;

		&::before {
			content: "";
			@extend .layout-fill;
			background-color: #FFF;
		}
	}

	&-page {
		// &-offset-left {
		// 	left: -100%;
		// 	right: 100%;
		// }
		//
		// &-offset-right {
		// 	left: 100%;
		// 	right: 100%;
		// }

		&-active {
			// left: 0;
			// right: 0;
			display: block;
		}

		&-deactive {

			display: none;
			// left: 100%;
			// right: 200%;
		}
	}

	&-pages.layout-fill {
		.layout-page {
			&-active {
				display: block;
				visibility: visible;
			}

			&-deactive {
				z-index: -1;
				display: block;
				visibility: hidden;
			}

		}
	}

	&-tab {

		&-tabbar {
			cursor: default;

			&.shape-underlined {
				.nav-link {
					position: relative;

					&::after {
						content: "";
						position: absolute;
						bottom: 0.5rem;
						left: 0.5rem;
						right: 0.5rem;
					}
				}

				.nav-link:hover::after {
					border: 1px solid #AAA;
				}
				.nav-link.active::after {
					border: 1px solid #000;
				}
			}
		}

		&.bottom {
			.nav-tabs {
				border-bottom: 0;
				border-top: 1px solid #ddd;

				.nav-link {
					border-radius: 0;
					border-bottom-left-radius: 0.25rem;
					border-bottom-right-radius: 0.25rem;

					&:hover {
						border-color: #ddd #e9ecef #e9ecef;
					}

					&.active {
						border-color: #fff #ddd #ddd;
					}
				}

				.nav-item {
					margin-bottom: auto;
					margin-top: -1px;
				}
			}
		}

		&-container {
			position: relative;
		}
	}

	&-tab.layout-fill {

		&-tabbar {
			position: absolute;
			left: 0;
			right: 0;
			.active {
				font-weight: bold;
			}
		}

		&.top {
			.layout-tab-tabbar {
				top: 0;
			}

			.layout-tab-container {
				top: 41px;
			}
		}

		&.bottom {
			.layout-tab-tabbar {
				bottom: 0;
			}

			.layout-tab-container {
				bottom: 41px;
			}
		}
	}
}

body.resizing {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
