<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ember-athlas-layout/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ember-athlas-layout/index.html [L]
</IfModule>
