<div class="jumbotron">
	<h1 class="display-4">\{{ember-athlas-layout}}</h1>
	<p class="lead">Layouts for rocket applications.</p>
</div>

<div class="container">

	<h1 class="border border-top-0 border-left-0 border-right-0">Getting Started</h1>

	<div class="row">
		<div class="col">
			<p>Install this addon and you are ready to go:</p>
			<pre>ember install ember-athlas-layout</pre>
		</div>
		<div class="col">
			<p>Head over to the {{#link-to 'documentation'}}documentation{{/link-to}} for further customizations.</p>
		</div>
	</div>

	<h1 class="border border-top-0 border-left-0 border-right-0">Layouts</h1>

	<div class="row mt-4">
		<div class="col-md-4">
			<div class="media">
				<i class="fa fa-th-large fa-fw fa-3x mr-1"></i>
				<div class="media-body">
					{{#link-to 'layouts.containers' class="media-title"}}<h2>Containers</h2>{{/link-to}}
					<p>The grid containers for the layouts.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="media">
				<i class="fa fa-window-minimize fa-fw fa-3x mr-1"></i>
				<div class="media-body">
					{{#link-to 'layouts.panes' class="media-title"}}<h2>Panes</h2>{{/link-to}}
					<p>Panes are the ideal toolbars or header stripes.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-4">
			<div class="media">
				<i class="fa fa-clone fa-fw fa-3x mr-1"></i>
				<div class="media-body">
					{{#link-to 'layouts.page' class="media-title"}}<h2>Page Layout</h2>{{/link-to}}
					<p>Have a container of pages but only show one at a time.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="media">
				<i class="fa fa-window-maximize fa-fw fa-3x mr-1"></i>
				<div class="media-body">
					{{#link-to 'layouts.tab' class="media-title"}}<h2>Tab Layout</h2>{{/link-to}}
					<p>Tabs? Tabs!</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="media">
				<i class="fa fa-columns fa-fw fa-3x mr-1"></i>
				<div class="media-body">
					{{#link-to 'layouts.split' class="media-title"}}<h2>Split Layout</h2>{{/link-to}}
					<p>Split your layout with a draggable sash to control the size.</p>
				</div>
			</div>
		</div>
	</div>


	<h1 class="border border-top-0 border-left-0 border-right-0">Examples</h1>

	<div class="row mt-4">
		<div class="col-md-4">
			<div class="media">
				<i class="fa fa-mobile fa-fw fa-3x mr-1"></i>
				<div class="media-body">
					{{#link-to 'examples.mobile' class="media-title"}}<h2>Mobile</h2>{{/link-to}}
					<p>An example layout on a mobile device.</p>
				</div>
			</div>
		</div>
	</div>

</div>